<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.kimora.sellerpintar">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name="project.kimora.sellerpintar.network.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SellerPintar"
        tools:targetApi="31">
        <activity
            android:name="project.kimora.sellerpintar.activities.ActivitySplash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="project.kimora.sellerpintar.utils.MyStartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="project.kimora.sellerpintar.activities.ActivityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"
            android:launchMode="singleTask" />

        <activity
            android:name="project.kimora.sellerpintar.activities.ActivityMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />

        <activity
            android:name="project.kimora.sellerpintar.activities.ActivityCashier"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />

        <activity
            android:name="project.kimora.sellerpintar.birds.activities.ActivityBirds"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="Daftar Semua Burung"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />

        <activity
            android:name=".services.activities.ActivityServices"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Semua Layanan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.ActivityMaintenance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Sedang dalam tahap pengembangan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".farms.activities.ActivityFarms"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Daftar Peternakan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>